<link rel="stylesheet" href="/static/css/style.css">

<div class="content-center h-full bg-neutral-800">
  <p class="text-center text-8xl text-neutral-400 {{ .underline }} decoration-8 decoration-rose-700">{{ .counter }}</p>
</div>
